@use "sass:math";
@import '../../styles/settings.scss';

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  flex-wrap: wrap;
  width: calc(33.333% - (0.6666 * $base-size));
  background: $color-light;
  margin: 0 $base-size $base-size 0;
  padding: ($base-size * 1.5);
  border-radius: $radius;
  box-shadow: 0 math.div($base-size, 4) 0 rgba(0, 0, 0, 0.3);
  color: $color-dark;

  &:nth-child(3n) {
    margin: 0 0 $base-size 0;
  }
}

.title {
  display: inline;
  font-size: ($base-size * 1.5);
  margin: 0;
}

.icon {
  padding-right: $base-size;
  color: $color-warning;
  font-size: ($base-size * 2);
}

.header {
  display: flex;
  justify-content: center;
}

.cards {
  padding: math.div($base-size, 2) 0;
  width: 100%;
}

.cardForm {
  margin-top: auto;
}

@media (max-width: 767px) {
  .column {
    width: 100%;
    margin: 0 0 $base-size 0;
  }
}